@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;

    margin: 0;

    height: 100%;

    width: 100%;
    
    overflow: hidden
}